@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    @apply h-4 w-4;
  }

  ::-webkit-scrollbar-track {
    @apply bg-slate-700;
  }

  ::-webkit-scrollbar-thumb {
    @apply border-2 border-solid border-slate-900 bg-slate-400 shadow-[inset_-0.25rem_-0.25rem] shadow-slate-500;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-500 shadow-slate-600;
  }
}
